body {
  color: #2d3c49;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.title-hr {
  border-top: 3px solid #7d97ad;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.img-feature {
  height: 230px;
  width: 100%;
}

@media (max-width: 767px) {
  .title-logo {
    margin: 20px auto 0;
  }

  .title-super {
    font-size: 40px;
  }
}
